.checkoutProduct{
    display: flex;
}
.checkoutProduct__img{
    object-fit:contain;
    width:180px;
    height:180px;
}
.checkoutProduct__info{
    padding-left:20px;
}
.checkoutProduct__info > button{
    background-color: orange;
    border: 1px solid;
}
.checkoutProduct__rating{
    display:flex;
}
.checkoutProduct__title{
    font-size:17px;
    font-weight: 800;
}